<link rel="stylesheet" href="/resources/footer/footer.css">


<div id="page-container">
    <div class="contact">
        <p><strong><%= contactinfo%></strong></p>
        <img src="/resources/footer/LAM_logo.png" alt="LAM logo wit" id="footer-logo">
        <p><%= contactinfo2%></p>
        <p><%= contactinfo3%></p>
        <p><%= contactinfo4%></p>
        <p><%= contactinfo5%></p>
        <p><%= contactinfo6%></p>
    </div>
    <footer id="footer"><%= copyright%></footer>
</div>