<!DOCTYPE html>
<html lang=<%= lang%>>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('../partials/global/global') %>
    <link rel="stylesheet" href="/resources/404/404.css">
    <title><%= title%></title>
</head>
<body>
    <div class="content">
       <div class="card">
           <div class="text-wrapper">
               <h6>404</h6>
               <h1><%= errorh1%></h1>
               <p><%= errorp%></p>
               
               <div class="pages">
                       <p><%= pagesText%></p>
                       <a href="/">Home</a>
                       <a href="/quiz">Quiz</a>
               </div>
           </div>

           <div class="image-wrapper" id="image-wrapper">
               <img src="/resources/404/404_1.png" class="image" id="image" />
           </div>
       </div>
    </div>

    <script src="/resources/404/404.js"></script>
</body>
</html>